<nav id="sidebar-icon-links">
    <a class="icon" title="RSS Feed" aria-label="RSS Feed" href="{{ site.baseurl }}/{{ site.feed.path | default: 'feed.xml' }}"><i class="fas fa-rss"></i></a>
    <a class="icon" title="Subscribe to our mailing list" aria-label="Subscribe to our mailing list" href="http://codecumbria.us4.list-manage.com/subscribe?u=d5773ad10b2dbd18f0917b34d&id=b05ef6c268"><i class="fas fa-envelope-open-text"></i></a>
    <a class="icon" title="Join the conversation on Slack" aria-label="Join the conversation on Slack" href="https://join.slack.com/t/codecumbria/shared_invite/enQtNjM4MTQ3MzI1OTc1LTNmYTkyZGY4ODEyMjhmNDU3NGJjNmVhZTdhYWIxOWZkNWUzYjc0M2NlMDFkNDRmMjM1Mzc2ZTU5MmNkN2I2YmU"><i class="fab fa-slack"></i></a>
    <a class="icon" title="Follow us on Twitter" aria-label="Follow us on Twitter" href="https://twitter.com/codecumbria"><i class="fab fa-twitter"></i></a>
    <a class="icon" title="Like us on Facebook" aria-label="Like us on Facebook" href="https://facebook.com/codecumbria"><i class="fab fa-facebook"></i></a>
    <a class="icon" title="Contribute on Github" aria-label="Contribute on Github" href="https://github.com/codecumbria"><i class="fab fa-github"></i></a>
</nav>
